:root {
    --primary-color: #4a984d;
    --primary-hover: #3e7a3d;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-main: #00121f;
}

main{
    margin:5%;
}
.couponList{
    margin-top:2%;
    margin-bottom:2%;
    display: flex;
    color: #00121f;
}
.coupon{
    margin:1%;
    color: #00121f;
}
/* Navbar style info */

.navbackcolor{
    background-color: #4a984d;
}
.navbar{
    overflow: hidden;
    background-color: #4a984d;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}